NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_LOGIN_USERNAME=19tpdls
ADMIN_LOGIN_EMAIL=19tpdls@picup-picnic.local
SMS_PROVIDER=mock
SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_SENDER=
NHN_SMS_APP_KEY=
NHN_SMS_SECRET_KEY=
NHN_SMS_SENDER=
